.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw; /* Full viewport width */
	height: 100vh; /* Full viewport height */
	background-color: rgba(31, 26, 26, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto; /* Allows scrolling */
	z-index: 500;
	animation: fadeIn 0.4s ease-out;
}

.modal-content {
	padding: 20px;
	background-color: rgb(16, 14, 14);
	border-radius: 10px;
	z-index: 501;
	width: auto;
	max-width: 600px;
	margin: 20px; /* Adjusted margin */
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: 80vh; /* Limits height and allows internal scrolling */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-header,
.modal-footer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-body {
	overflow-y: auto; /* Makes only the body scrollable */
	flex-grow: 1; /* Takes up all available space */
	padding: 10px;
}

.form-group {
	margin-bottom: 10px; /* Adds space between form elements */
}

.button {
	width: 100%; /* Full width of the footer */
	margin-top: 10px; /* Space above the button */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
