.container-course-screen {
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.heading-courses {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.content-course-screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
