.course-card {
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s ease-in-out;
	font-size: 0.9rem; /* Smaller font size for a more compact look */
	max-width: 700px; /* Limiting width for a more contained layout */
	margin: auto; /* Center the card in the container */
}

.course-card:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-header {
	background: #007bff; /* A solid color may look more elegant than a gradient */
	color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 20px; /* Reduced padding */
}

.card-body {
	background-color: #ffffff; /* Pure white for a clean look */
	padding: 15px 20px; /* Slightly more padding inside the body for better text alignment */
	color: #333;
}

.card-footer {
	background: transparent;
	text-align: right; /* Align the button to the right */
	padding: 10px 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.btn-success {
	font-size: 0.8em; /* Smaller button size */
	letter-spacing: normal; /* Remove extra letter-spacing */
	padding: 8px 16px;
	background-color: #28a745; /* Solid color for the button */
	border: none; /* Remove border */
}
